<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flymasters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <!--navbar-->
    <div class="above-navbar">
        <div class="above-navbar-content">
            <p>Register with Fly Masters. Get Scholarship Worth ₹70,000</p>
            <button class="apply-btn">Apply</button>
        </div>
        <div>
            <i class="fa-solid fa-xmark" style="color: #ffffff"></i>
        </div>
    </div>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo"></div>
        </div>
        <div class="nav-address">
            <a class="nav-home-style">Home</a>
            <a class="nav-address-style">About Us</a>
            <a class="nav-address-style">Countries</a>
            <a class="nav-address-style">Videos</a>
            <a class="nav-address-style">Blogs</a>
            <a class="nav-address-style">Contact Us</a>
            <a class="nav-address-style">Employee</a>
        </div>
        <div class="nav-address-end">
            <a class="nav-address-style">Agent</a>
            <a class="nav-address-style">|</a>
            <a class="nav-address-style">Student</a>
            <button class="register-btn">
                <a>Register</a>
            </button>
            <button class="phone-btn">
                <i class="fa-solid fa-phone" style="color: #f7f7f7; height: auto; width: auto"></i>
            </button>
        </div>
    </div>
</header>
<main style="overflow-x: hidden">
    <div class="gadmission">
        <div class="headingjpg">
            <h1>Get spot admissions</h1>
        </div>
        <div class="key-element">
            <div class="mid-card-btn">
                <button class="exam-score-style">
                    <i class="fa-regular fa-file-lines" style="color: #ffffff"></i>
                    &nbsp; Exam Scores
                </button>
                <button class="keywords-style">
                    <i class="fa-solid fa-globe" style="color: #b1b1b1"></i>
                    &nbsp; Keywords
                </button>
            </div>
        </div>
<!--        <div class="examscore">-->
<!--            <div style="" class="scoreimg">-->
<!--                <img style="object-fit: cover " src="/images/cgpa.png" alt="CGPA Image" />-->
<!--            </div>-->
<!--        </div>-->
        <div class="search-btn">
            <button class="search-btn-style">Search</button>
        </div>
        <!--BANNER STARTING-->
        <div class="banner">
            <div style="color: #ffffff">
                <button class="globe">
                    <i class="fa-solid fa-earth-americas" style="color: #ffffff"></i></button
                >27+ Countries
            </div>
            <div style="color: #ffffff">
                <button class="university">
                    <i class="fa-solid fa-building-columns" style="color: #ffffff"></i></button
                >800+ Universities
            </div>
            <div style="color: #ffffff">
                <button class="course">
                    <i class="fa-solid fa-graduation-cap" style="color: #ffffff"></i></button
                >80,321+ Courses
            </div>
            <div style="color: #ffffff">
                <button class="branch">
                    <i class="fa-solid fa-code-branch" style="color: #ffffff"></i></button
                >6 Branches
            </div>
            <div style="color: #ffffff">
                <button class="visa">
                    <i class="fa-solid fa-plane-departure" style="color: #ffffff"></i></button
                >2000+ Visas
            </div>
        </div>
        <div class="getstart-btn">
            <button class="getstart-btn-style">
                Get Started
                <i class="fa-solid fa-arrow-right" style="color: #015195"></i>
            </button>
        </div>
    </div>
    <div class="countries">
        <div class="heading-content">
            <h1 style="color: #0c4d8f">Countries</h1>
            <img src="/images/countries.png">
        </div>
        <div class="carouselholder">
            <!-- Carousel content goes here -->
        </div>
    </div>
</main>
</body>
</html>
